# commit
commitizen

# Style
flake8-nb
flake8-black
flake8-builtins
flake8-import-order
commitizen
pep8-naming
pydocstyle

# documentation (also pandoc must be installed)
nbsphinx
sphinx
sphinx_copybutton
sphinx_rtd_theme

# Testing
check-manifest
pytest
pytest-cov
tox

# General purpose
ipdb
ipython
jupyter
matplotlib

# ugropy dependecies
numpy >= 1.25.1
pandas >= 2.0.3
chemspipy == 2.0.0
pubchempy == 1.0.4
rdkit == 2023.9.4